<!DOCTYPE html>
<html lang="en">
<head>
  <title>FruitCake</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/div.css') }}"> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body>
  <script>

   $('#myButton').click(function() {
     console.log("hello")
       $.ajax({
             type:'POST',
             url:"stats.py"
             dataType:"text",
             success: function(response){
                console.log(response);
                alert(response);
             }
     });
   });
 </script>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Fruit Cake</a>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Visualise your spending</h1>

    </div>
    <form method="POST" actions="/send">
    <div class="jumbotron text-center">
      <input class="btn-btn-primary" type="submit" value="sign in">
    </div>
  </form>



</body>
</html>
